.bg-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/hero-bg.webp");
  background-size: cover;
  background-position: center;
  opacity: 0.035;
  z-index: 0;
  pointer-events: none;
}

.bg-hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, white 0%, transparent 5%);
  z-index: 1;
  pointer-events: none;
}

.blur-bg {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.fade-in.visible {
  opacity: 1;
}

.fade-in-slide {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in-slide.visible {
  opacity: 1;
  transform: translateY(0);
}

.mask-phone-fade {
  /* Fade from transparent at the very bottom (0%) up to opaque by 20% */
  mask-image: linear-gradient(to top, transparent 10%, black 15%, black 100%);
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 10%,
    black 15%,
    black 100%
  );
  /* Stretch the mask to cover the entire element */
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
